<template name="newproduct">
<!-- <div class="col-md-12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  <span class="fs1" aria-hidden="true" data-icon="&#xe096;"></span> 12 Columns
                </div>
              </div>
              <div class="widget-body">
                
              </div>
            </div>
          </div> -->
<div class="col-md-12">

	<h1>Ajouter un nouveau produit</h1>
		<form id="form">

			<div class="form-group">
			  <label class="control-label" for="name">Titre du produit</label>  
			  <input type="text" id="product-name" class="form-control product-name">
			    
			</div>
			
			<div class="form-group">
				<label class="control-label" for="name">Prix de vente</label>
				<input type="text" id="selling-price" class="form-control selling-price">

			</div>

			<div class="form-group">
				<label class="control-label" for="name">Prix d'achat</label>
				<input type="text" id="buying-price" class="form-control buying-price">

			</div>

			<div class="form-group">
				<label class="control-label" for="name">Description</label>
				<textarea id="description" class="form-control description"></textarea>

			</div>

			<button type="submit" class="btn btn-success">Ajouter</button>
		</form>
</div>


</template>