<template name="register">

	<div class="main-container">
      <div class="row">
        <form class="login-wrapper" id="form">
          <div class="header">
            <div class="row">
              <div class="col-md-12">
                <h3>Register<img src="/img/logo.png" alt="Logo" class="pull-right"></h3>
                <p>Fill out the form below to register.</p>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <input class="input col-md-12 col-sm-12 email" id="email" name="email" placeholder="example@mailll.com" required="required" type="email" value="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <input class="input col-md-12 col-sm-12 password" id="password" name="password" placeholder="********" required="required" type="password">
              </div>
            </div>
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-danger" >Register </button>
            <a class="link" href="#">Forgot Password?</a>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>

</template>